.containeur-form{
  border-radius: 10px;
  padding: 40px;
  align-items: center;
  text-align: center;
}
body{
  background-image: radial-gradient(circle at 50% -20.71%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.btn-pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}